body {
    margin: 0px;
    padding: 0px;
}

/* container */

#container {
    height: 100vh;
    width: 100%;
}
.navbar-brand {
    text-transform: capitalize;
    font-size: large;
    font-weight: bold;
}

#home,#place-orders,#your-orders,#about-us{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s ease-in-out;
}
#home:hover{
    letter-spacing: 2px;
    font-weight: 400;
}
#place-orders:hover{
    letter-spacing: 2px;
    font-weight: 400;
}
#your-orders:hover{
    letter-spacing: 2px;
    font-weight: 400;
}
#about-us:hover{
    letter-spacing: 2px;
    font-weight: 400;
}

.sign-up,.sign-in {
    text-decoration: none;
    color: white;
}

/* product cards  */


.productcards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
    margin: 0 8vw 0 8vw;
    position: absolute;
    top: 15vh;
}

.card {
    transition: all 0.5s ease-in-out;
    margin: 20px;
       box-shadow: 0px 0px 0px grey;
        -webkit-transition:  box-shadow .3s ease-out;
           box-shadow: .8px .9px 3px grey;
}
.card:hover{ 
    box-shadow: 1px 8px 20px grey;
 }

/* footer  */

#footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}

.footer-image {
    display: flex;
    flex-direction: row;
    margin-top: 16vh;
    margin-left: 9vw;
}

.footer-logo {
    color: aliceblue;
    margin-left: 15px;
    text-transform: capitalize;
}

.footer-desc {
    display: flex;
    flex-direction: row;
    margin-top: 7vh;
    margin-left: 25vw;
}

.company {
    display: flex;
    flex-direction: column;
}
.company-title {
    margin-bottom: 20px;
    color: green;
    text-transform: capitalize;
}

.categories {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
}
.categories-title {
    margin-bottom: 20px;
    color: green;
    text-transform: capitalize;
}

.footer-a-tag {
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
}
.footer-a-tag:hover {
    color: green;
}